/* Main background */
body {
    background-color: #ffffff;
    color: #1a1a1a;
}

/* Sidebar */
section[data-testid="stSidebar"] {
    background-color: #f2f8ff;
}

/* Titles */
h1, h2, h3 {
    color: #1a73e8;
}

/* Buttons */
.stButton>button {
    background-color: #4da6ff;
    color: white;
    border-radius: 8px;
    padding: 8px 18px;
    border: none;
    transition: 0.2s;
}

.stButton>button:hover {
    background-color: #1a73e8;
    transform: scale(1.03);
}

/* Cards look */
[data-testid="stMetric"] {
    background-color: #f2f8ff;
    padding: 15px;
    border-radius: 10px;
}

/* Tables */
[data-testid="stDataFrame"] {
    border-radius: 10px;
    border: 1px solid #dbe9ff;
}

/* Upload box */
[data-testid="stFileUploader"] {
    border: 2px dashed #4da6ff;
    border-radius: 10px;
    padding: 10px;
}